version: '3.9'
services:
  api:
    build:
      context: .
      target: development
    env_file:
      - .env
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - mongodb

  mongodb:
    image: mongo
    ports:
      - 27017:27017
